{{- /* Pinterest Rich Pins + OG Image + Google Analytics */ -}}
{{- if .IsPage }}

{{- /* Pinterest article metadata for Rich Pins */ -}}
<meta property="article:author" content="GearVault">
<meta property="og:image:type" content="image/png">

{{- end }}

{{- /* Google Analytics */ -}}
{{- with site.Params.analytics }}
{{- with .google }}
{{- with .gtagID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end }}
{{- end }}
{{- end }}
